header {
    margin: 0 auto;
    height: 100px;
    border-bottom: 1px solid black;
}

header img {
    float: left;
    margin-left: 36px;
}

header h1 {
    float: left;
    font-size: 28px;
    color: black;
    margin-left: 36px;
    margin-top: 65px;
}

header nav {
    float: right;
    margin-top: 65px;
    margin-right: 36px;
}

header nav a {
    color: blue;
    font-size: 28px;
    text-decoration: none;
    padding: 8px;
}