<header>
    <!--<img src="../../assets/images/LOGO.png" width="100px" height="100px">-->
    <h1>BlockDoc</h1>

    <div [ngSwitch]="userType">
        <nav *ngSwitchCase="'Doctor'">
            <a routerLink="/search">Search</a>
            <a routerLink="/myPatients">My Patients</a>
            <a routerLink="/profile">Profile</a>
        </nav>
        <nav *ngSwitchCase="'Patient'">
            <a routerLink="/patient">Profile</a>
            <a routerLink="/myDoctors">My Doctors</a>
        </nav>
        <nav *ngSwitchCase="'Pharmacy'">
            <a routerLink="/search">Search</a>
            <a routerLink="/profile">Profile</a>
        </nav>
        <nav *ngSwitchDefault>
            <a routerLink="/signUp">Sign Up</a>
        </nav>
    </div>
</header>