<h1>{{patientName}}</h1>

<p-accordion>
    <p-accordionTab header="Basic Information">
        <!--All Basic Information data goes here.-->
        <div class="drop-down-info">
            
        </div>
    </p-accordionTab>
    <p-accordionTab header="Current Status">
        <!--Patient's Current Status goes here. Should be most recent block.-->
        <p>Hello Motto</p>
    </p-accordionTab>
    <p-accordionTab header="Medication History">
        <!--All Medication History for patient.-->
        <p>Hello Motto</p>
    </p-accordionTab>
    <p-accordionTab header="Vaccine/Shot History">
        <!--All Vaccine and Shot History data goes here.-->
        <p>Hello Motto</p>
    </p-accordionTab>
    <p-accordionTab header="Patient History">
        <!--Show's patient's visit history.-->
        <p>Hello Motto</p>
    </p-accordionTab>
</p-accordion>