<app-header></app-header>

<div class="patient">
    <h1 class="patient-name">{{patientName}}</h1>

    <p-accordion class="accordion">
        <p-accordionTab header="Basic Information">
            <!--All Basic Information data goes here.-->
            <div class="drop-down-info">
                <table>
                    <tr>
                        <th>Name</th>
                        <td>{{pData["patient"]["name"]}}</td>
                    </tr>
                    <tr>
                        <th>DoB</th>
                        <td>{{pData["patient"]["dob"]}}</td>
                    </tr>
                    <tr>
                        <th>Address</th>
                        <td>{{pData["patient"]["address"]}}</td>
                    </tr>
                    <tr>
                        <th>SSN</th>
                        <td>{{pData["patient"]["ssn"]}}</td>
                    </tr>
                    <tr>
                        <th>Race</th>
                        <td>{{pData["patient"]["race"]}}</td>
                    </tr>
                    <tr>
                        <th>Gender</th>
                        <td>{{pData["patient"]["gender"]}}</td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td>{{lastVisit["height"]}}</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>{{lastVisit["weight"]}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{pData["patient"]["email"]}}</td>
                    </tr>
                    <tr>
                        <th>Phone</th>
                        <td>{{pData["patient"]["phoneNum"]}}</td>
                    </tr>
                    <tr>
                        <th>Healthcare</th>
                        <td>{{pData["patient"]["insuranceProvider"]}}</td>
                    </tr>
                    <tr>
                        <th>Fun Fact</th>
                        <td>{{pData["patient"]["fact"]}}</td>
                    </tr>
                    <tr>
                        <th>Emergency Contact</th>
                        <td>{{pData["patient"]["emergency"]["name"]}}</td><!--Name-->
                    </tr>
                    <tr>
                        <th></th>
                        <td>{{pData["patient"]["emergency"]["phone"]}}</td><!--Phone-->
                    </tr>
                </table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Current Status">
            <div class="drop-down-info">
                <table>
                    <tr>
                        <th>Last Visit</th>
                        <td>{{lastVisit["date"]}}</td>
                    </tr>
                    <tr>
                        <th>Blood Pressure</th>
                        <td>{{lastVisit["bloodPressure"]["numerator"]}} / {{lastVisit["bloodPressure"]["denometer"]}}</td>
                    </tr>
                    <tr>
                        <th>Height</th>
                        <td>{{lastVisit["height"]}}</td>
                    </tr>
                    <tr>
                        <th>Weight</th>
                        <td>{{lastVisit["weight"]}}</td>
                    </tr>
                    <tr>
                        <th>Temperature</th>
                        <td>{{lastVisit["temperature"]}}</td>
                    </tr>
                    <tr>
                        <th>Symptoms</th>
                        <td>{{lastVisit["symptoms"]}}</td>
                    </tr>
                    <tr>
                        <th>Diagnosis</th>
                        <td>{{lastVisit["diagnosis"]}}</td>
                    </tr>
                    <tr>
                        <th>General Notes</th>
                        <td>{{lastVisit["notes"]}}</td>
                    </tr>
                </table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Medication History">
            <!--All Medication History for patient.-->

        </p-accordionTab>
        <!--
        <p-accordionTab header="Vaccine/Shot History">

        </p-accordionTab>
        -->
        <p-accordionTab header="Patient History">
            <!--Show's patient's visit history.-->

        </p-accordionTab>
    </p-accordion>

    <div class="current-meds">
        <h2>Current Medications:</h2>
    </div>
</div>