<app-header></app-header>

<div class="login">
    <div class="user-type-selection">
        <p-selectButton [options]="userTypes" [(ngModel)]="userType"></p-selectButton>
    </div>
    <div class="username-password">
        <!--<h1>Username</h1>-->
        <span class="ui-float-label username">
            <input id="username" type="text" size="30" pInputText [(ngModel)]='username'> 
            <label for="float-input">Username</label>
        </span>
        <!--<h1>Password</h1>-->
        <span class="ui-float-label password">
            <input id="password" type="password" size="30" pInputText [(ngModel)]='password'> 
            <label for="float-input">Password</label>
        </span>
    </div>

    <div class="login-button">
        <button type="button" (click)="login()">Login</button>
    </div>
    
</div>