#banner {
    background-color: #6ec5ff;
    color: black;
    text-align: center;
    padding: 10px, 4px, 9px, 4px;
    font-size: 40px
}

#info {
    padding-left: 15%;
    padding-right: 15%;
}

h1 {
    padding-bottom: 10px;
}



p.accordion {
    background-color: #2195f2;
    color: #000;
    cursor: pointer;
    padding: 18px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

p.accordion.active, p.accordion:hover {
    background-color: #6ec5ff;
}

p.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

p.accordion.active:after {
    content: "\2212";
    color: white;
}

div.panel {
    padding: 0px 18px;
    background-color: whitesmoke;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: 18px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px;
}

form {
    margin: auto;
    width 400px;
    padding 1em;
    border: 1px solid black;
    border-radius: 1em;
}

form div + div {
    margin-top: .5em;
}

label {
    font: 1em;
    margin-top: 10px;
    margin-left:10px;
    display: inline-block;
    width: 200px;
    text-align: right;
}

input, textarea {

    width 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
}

.button {
    padding-left: 560px;
    padding-bottom: 5px;
}

button {
    margin-left: .5em;
}

